* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;    
}

body {
    box-sizing: border-box;
    min-height: 882px;
    width: 100%;
    max-height: 980px;
    background-color: #FFFBFB;
    margin: auto;
    padding: 0;
    border: 0;
    display: flex;
    align-items: center;
    flex-direction:column;
    justify-content: center;
    flex-grow: 1;
}

.geral {
    align-content: space-between;
    justify-content: center;
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-grow: 1;
}

.principal1 {
    width: 100%;
    flex-grow: 1;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

 
.instagram-wrapper {
    align-items: center;
    justify-content: center;
    display: flex;
    max-width: 935px;
    padding-bottom: 32px;
}

.instagram-phone {
    background-image: url("img/foto-celular.png");
    align-self: center;
    background-position: 0 0;
    background-size: 454px 618px;
    flex-basis: 454px;
    height: 618px;
    margin-left: -35px;
    margin-right: -15px;
    display: none;
}

.foto-celular {
    margin: 99px 0 0 151px;
    position: relative;
}

.snapshot {
    height: 427px;
    left: 0;
    opacity: 1;
    position: relative;
    top: 0;
    visibility: visible;
    width: 240px
}

.instagram-continue {
    display: flex;
    align-items: center; /* horizontal*/
    align-content: space-around; /* vertical */
    justify-content: center;
    flex-direction: column;
    margin: 0 0 5px;
}

.group {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 0;
}

.group1 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    margin: 20px 0 10px;
    padding: 10px 0;
}

.instagram-logo {
    width: 175px;
    height: 51px;
    margin: 22px auto 12px;
}

.profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    margin: 20px 0 40px;
}

.profile-photo img {
    height: 100px;
}

.instagram-login {
    width: 248px;
    text-align: center;
    background-color: #0095f6;
    color: #ffffff;
    margin: 10px;
    padding: 8px 0;
    border-radius: 4px;
}

.instagram-logout {
    color: #0095f6;
    width: 220px;
    text-align: center;
    margin-top: 20px;
}

.not-account {
    display: flex;
    color: rgb(160, 160, 160);
    width: 100%;
    margin: 5px 0;
    justify-content: center;
}

.link-blue {
    color: #0095f6;
    font-weight: bold;
    margin: 0 5px;
}

.box-get-the-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.get-the-app {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #595959;
    width: 100%;
    margin: 11px 0;
}

.download {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 12px 0;
}

.app-download {
    height: 40px;
    width: 136px;
    background-size: cover;
}

.app-download:nth-child(1) {
    background-image: url('./img/apple-button.png');
    margin-right: 8px;
}

.app-download:nth-child(2) {
    background-image: url('./img/googleplay-button.png');
}


.app-footer {
    background-color: #FFFBFB;
    padding: 0 8px;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    display: flex;  
}

.container {
    margin-bottom: 52px;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-direction: column;
}

.links1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.links2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 0;
}

.links {
    margin: 6px 8px;
    padding: 0;
    justify-content: center;
    flex: 0 0 auto;
    font-size: 12px;
    background-color:#FFFBFB;
    color: #999999;
}


/* media queries */


@media (min-width:  1024px) {
    .instagram-wrapper {
        margin: 32px 0 0;
        width: 950px;
    }

    .instagram-phone {
        display: flex;
    }
}


@media (min-width:  768px) {

    .group {
        border: 1px solid #dfdfdf;
    }

    .instagram-wrapper {
        margin: 32px 0 0;
    }

    .group1 {
        border: 1px solid #dfdfdf;
    }
}

@media (max-width: 425px) {
    body {
        background-color: #ffffff;
    }

    .instagram-wrapper {
        margin: 0;
    }

    .instagram-login {
        width: 200px;
    }

    .instagram-continue {
        width: 100%;
    }
    
    .group {
        width: 320px; 
    }

    .geral {
        height: 648px;
    }
}